.header {
  background: #333;
  display: flex;
  padding: 1.25rem 0;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background: white;
}

.title {
  font-size: larger;
}

.header img {
  height: 1.5rem;
}

.buttonWrapper {
  flex: 1;
  background: blue;
  justify-content: flex-end;
}
.logOut {
}
